.gallery-section {
    padding: 60px;
}
.search-form {
    display: flex;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-input {
    height: 40px;
    flex-grow: 1;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid #303030;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.gallery__item {
    flex-basis: calc((100% - 60px) / 4);
    gap:20px
}

.btn-load-more.is-hidden {
    display: none;
}

.search-btn,
.btn-load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}
